In [2]:
import sqlite3
database = sqlite3.connect('weather2.db')
current = database.cursor()


current.execute("CREATE TABLE if not exists Weather (id int Primary Key,recordDate date,temperature int)")
current.execute("INSERT INTO Weather VALUES (1, '2015-01-01', 10)")
current.execute("INSERT INTO Weather VALUES (2, '2015-01-02', 25)")
current.execute("INSERT INTO Weather VALUES (3, '2015-01-03', 20)")
current.execute("INSERT INTO Weather VALUES (4, '2015-01-04', 30)")


database.commit()


current.execute("SELECT w1.id FROM Weather w1 JOIN Weather w2 ON w1.id = w2.id + 1 WHERE w1.temperature > w2.temperature")
# + 1 for next day

result = current.fetchall()
for item in result:
    print(item[0])

database.close()

2
4

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///weather2.db

In [5]:
%%sql
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON w1.recordDate = DATE(w2.recordDate, '+1 day')
WHERE w1.temperature > w2.temperature;

 * sqlite:///weather2.db
Done.

[(2,), (4,)]